<!DOCTYPE html>
<html>
<head>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="/static/ulkng.css" rel="stylesheet">
</head>
<body>
{% if user_id %}
    <nav>
        <div class="btn-group btn-toolbar">
            <a href="/all/?token={{ user_id[1] }}" class="btn{% if is_all %} active{% endif %}">URLs</a>
            <a href="/add/?token={{ user_id[1] }}" class="btn{% if is_add %} active{% endif %}">Add</a>
        </div>
    </nav>
{% endif %}
<section class="row-fluid {{ section_class }}">
    <div id="content" class="span12 well">
        {% block content %}
        {% endblock %}
    </div>
</section>
<footer class="row-fluid">
    {% if user_id %}
        <div class="span12">You are identified as: {{ user_id[0] }}</div>{% endif %}
</footer>
</body>
</html>